{% extends 'base2.html' %}{% load static %}

{% block body %}
<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
      <div class="col-sm-6 col-xl-3">
          <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
              <i class="fa fa-chart-line fa-3x text-primary"></i>
              <div class="ms-3 text-end">
                  <p class="mb-2">Account Balance</p>
                  <h6 class="mb-0">${{balance}}</h6>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
            <i class="fa fa-chart-pie fa-3x text-primary"></i>
            <div class="ms-3 text-end">
                <p class="mb-2">System Earning</p>
                <h6 class="mb-0">${{earning}}</h6>
            </div>
        </div>
    </div>
      <div class="col-sm-6 col-xl-3">
          <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
              <i class="fa fa-chart-bar fa-3x text-primary"></i>
              <div class="ms-3 text-end">
                  <p class="mb-2">Active Deposit</p>
                  <h6 class="mb-0">${{invest}}</h6>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-xl-3">
          <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
              <i class="fa fa-chart-area fa-3x text-primary"></i>
              <div class="ms-3 text-end">
                  <p class="mb-2">Pending Withdrawal</p>
                  <h6 class="mb-0">${{withdraw}}</h6>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Sale & Revenue End -->



<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
  <div class="bg-secondary text-center rounded p-4">
      <div class="d-flex align-items-center justify-content-between mb-4">
          <h6 class="mb-0">Recent History</h6>
          <a href="{% url 'transaction' %}">Show All</a>
      </div>
      <div class="table-responsive">
          <table class="table text-start align-middle table-bordered table-hover mb-0">
              <thead>
                  <tr class="text-white">
                      <th scope="col">Currency</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Date</th>
                      <th scope="col">Action</th>
                      <th scope="col">Status</th>   
                  </tr>
              </thead>
              <tbody>
                {% for item in data %}
                  <tr>
                      <td>{% if item.currency == None%}USDT{% else %}{{item.currency}}{% endif %}</td>
                      <td>{{item.amount}}</td>
                      <td>{{item.date_created.date}}</td>
                      <td>{{item.action}}</td>
                      <td>{% if item.status %}<span style="color: green;">Completed</span>{% else %}<span style="color: red;">Pending</span></td>{% endif %}
                  </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>
<!-- Recent Sales End -->

{% endblock %}
