{% extends 'base2.html' %}
{% block body %}
<div class="container mt-5 mx-4">
    <h2 class="d-flex justify-content-center py-3">Personal Details</h2>
    <div class="row">
        <div class="col-md-6 py-2">
            <span style="font-size: large; font-weight: bolder; color: white;">First Name: </span>
            <span class="px-4">{{request.user.first_name}}</span> 
        </div>
        <div class="col-md-6 py-2">
            <span style="font-size: large; font-weight: bolder; color: white;">Last Name: </span>
            <span class="px-4">{{request.user.last_name}}</span> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 py-2">
            <span style="font-size: large; font-weight: bolder; color: white;">Email: </span>
            <span class="px-4">{{request.user.email}}</span> 
        </div>
        <div class="col-md-6 py-2">
            <span style="font-size: large; font-weight: bolder; color: white;">Mobile Number: </span>
            <span class="px-4">{{request.user.mobile_number}}</span> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 py-2">
            <span style="font-size: large; font-weight: bolder; color: white;">Country: </span>
            <span class="px-4">{{request.user.country.name}}</span> 
        </div>
        <div class="col-md-6 py-2">
            <span style="font-size: large; font-weight: bolder; color: white;">Referee: </span>
            <span class="px-4">{{request.user.refered_by}}</span> 
        </div>
    </div>
</div>
{% endblock %}
